/*.body_{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-evenly;
    background-color: rgb(56, 41, 59);
    
}
.info{

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    background-color: rgb(91, 68, 96);
    border-style:groove;
    border-color: thistle;
    
}
.basicInfo{

    display: flex;
    justify-content: center;
    flex-direction: column;

}
.pfp{
    width: 300px;
    height: 300px;
    padding-left: 400px;


}

.fototext{
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.div_info{

    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-right: 400px;
}

.tastes{

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    background-color: rgb(234, 234, 224);
    border-style:groove;
    
}

.tastes{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    background-color: rgb(91, 68, 96);
    border-style:groove;
    border-color: thistle;
    
}

.teste{

padding-top: 50px;

}
*/


/*O HTML e CSS MAIS DESORGANIZADO JÃ VISTO >B) */
.body_{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-evenly;
    background-color: rgb(56, 41, 59);
    
}
.info{

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: space-evenly;
    /*background-color: rgb(91, 68, 96);*/
    /*border-style:groove;*/
    /*border-color: thistle;*/
    
}
.basicInfo{

    display: flex;
    justify-content: center;
    flex-direction: column;

}
.pfp{
    width: 300px;
    height: 300px;
    padding-left: 100px;



}

.fototext{
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.div_info{

    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-left: 50px;
    padding-right: 50px;
}

.tastes{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: aliceblue;
        background-color: rgb(91, 68, 96);
        border-style:groove;
        /*border-color: thistle;*/
        padding-left: 119px;
        padding-right: 90px;
    }

.teste{

    padding-top: 50px;

}

.div_test{

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-style: groove;
    background-color: rgb(91, 68, 96);
}

.padding-meio{

    padding: 10px;
}

.redesS_text{

    color: aliceblue;
    display: flex;
    

}

.redes_sociais{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: space-around;
    background-color: rgb(91, 68, 96);
    border-style: groove;
    padding-left: 20px;
    
}

.rede_pfp{

    height: 150px;
    width: 150px;
    border-radius: 50%;

}

.redes_sites{
    display: flex;
    justify-content:flex-start;
    color: aliceblue;
    

}

.rede_profile{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}