body{

    background-color: rgb(56, 41, 59);
}

.topsection{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    padding-bottom: 60;
}

.pfpimg{

    width: 300px;
    height: 300px;
    border-radius: 200px;
    border-style:groove;
}

.div_info{

    color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
    border-style: groove;
    background-color: rgb(91, 68, 96);
}

.middleSection{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: groove;
    color: aliceblue;
}


.div_padding{

    padding: 20px;
}

a{
    color: aliceblue;
    text-decoration: none;
}

.img_conhecimentos{

    width: 300;
    height: 300;
}
.img_hobbies{
    
    width: 300;
    height: 300;
}

.tituloaba{

    display: flex;
    justify-content: center;

}


.aba_titulo{

    color: aliceblue;
    font-size: 50;
    padding: 30;
    border-style: groove;
}

.aba_index{

    color: aliceblue;
    font-size: 30;
    padding-bottom: 30;
}

.aba_texto{

    color: aliceblue;
    font-size: 50;
    padding: 30;
}

.aba{
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    padding-bottom: 60;
}



.div_redes{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: groove;
    color: aliceblue;
}

.middleSection2{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: groove;
    color: aliceblue;
    padding-left: 100px;
    padding-bottom: 100px;
}

.redes_ajuste{

    padding-left: 80;
    padding-right: 80;
}

p{

    font-size: 40;
}